spring:
  application:
    name: RATINGSERVICE
  data:
    mongodb:
      uri: mongodb://localhost:27017
      database: microservices

server:
  port: 8083

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
