server:
  port: 8085

spring:
  application:
    name: ConfigServer

  cloud:
    config:
      server:
        git:
          uri: https://github.com/Vaibhav979/microservices-config
          clone-on-start: true
