name: Microservices CI/CD Pipeline

on:
  push:
    paths:
      - "UserService/UserService/**"
      - "HotelService/HotelService/**"
      - "RatingService/RatingService/**"
      - "ApiGateway/**"
      - "RegistryService/RegistryService/**"

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      userservice: ${{ steps.filter.outputs.userservice }}
      hotelservice: ${{ steps.filter.outputs.hotelservice }}
      ratingservice: ${{ steps.filter.outputs.ratingservice }}
      apigateway: ${{ steps.filter.outputs.apigateway }}
      registryservice: ${{ steps.filter.outputs.registryservice }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            userservice:
              - 'UserService/UserService/**'
            hotelservice:
              - 'HotelService/HotelService/**'
            ratingservice:
              - 'RatingService/RatingService/**'
            apigateway:
              - 'ApiGateway/**'
            registryservice:
              - 'RegistryService/RegistryService/**'

  # =========================
  #   USER SERVICE PIPELINE
  # =========================
  user-service:
    needs: detect-changes
    if: needs.detect-changes.outputs.userservice == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build & Push UserService Image
        run: |
          mvn -f UserService/UserService/pom.xml clean package -DskipTests
          docker build -t ${{ secrets.DOCKER_USERNAME }}/userservice:latest \
            -f UserService/UserService/Dockerfile UserService/UserService
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          docker push ${{ secrets.DOCKER_USERNAME }}/userservice:latest

      - name: Deploy UserService to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker network create microservices-net || true

            docker pull ${{ secrets.DOCKER_USERNAME }}/userservice:latest
            docker stop userservice || true
            docker rm userservice || true

            docker run -d \
              --name userservice \
              --network microservices-net \
              -p 8081:8081 \
              -e SPRING_DATASOURCE_URL=jdbc:mysql://mysq:3306/microservice_db \
              -e SPRING_DATASOURCE_USERNAME=${{ secrets.DB_USER }} \
              -e SPRING_DATASOURCE_PASSWORD=${{ secrets.DB_PASSWORD }} \
              ${{ secrets.DOCKER_USERNAME }}/userservice:latest

  # =========================
  #   HOTEL SERVICE PIPELINE
  # =========================
  hotel-service:
    needs: detect-changes
    if: needs.detect-changes.outputs.hotelservice == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build & Push HotelService Image
        run: |
          mvn -f HotelService/HotelService/pom.xml clean package -DskipTests
          docker build -t ${{ secrets.DOCKER_USERNAME }}/hotelservice:latest ./HotelService/HotelService
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          docker push ${{ secrets.DOCKER_USERNAME }}/hotelservice:latest

      - name: Deploy HotelService to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker network create microservices-net || true

            docker pull ${{ secrets.DOCKER_USERNAME }}/hotelservice:latest
            docker stop hotelservice || true
            docker rm hotelservice || true

            docker run -d \
              --name hotelservice \
              --network microservices-net \
              -p 8082:8082 \
              -e SPRING_DATASOURCE_URL=jdbc:postgresql://postgresdb:5432/hotel_db \
              -e SPRING_DATASOURCE_USERNAME=${{ secrets.PG_USER }} \
              -e SPRING_DATASOURCE_PASSWORD=${{ secrets.PG_PASSWORD }} \
              ${{ secrets.DOCKER_USERNAME }}/hotelservice:latest

  # =========================
  #   RATING SERVICE PIPELINE
  # =========================
  rating-service:
    needs: detect-changes
    if: needs.detect-changes.outputs.ratingservice == 'true'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build & Push RatingService Image
        run: |
          mvn -f RatingService/RatingService/pom.xml clean package -DskipTests
          docker build -t ${{ secrets.DOCKER_USERNAME }}/ratingservice:latest ./RatingService/RatingService
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          docker push ${{ secrets.DOCKER_USERNAME }}/ratingservice:latest

      - name: Deploy RatingService to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}

          script: |
            docker network create microservices-net || true

            docker pull ${{ secrets.DOCKER_USERNAME }}/ratingservice:latest
            docker stop ratingservice || true
            docker rm ratingservice || true

            docker run -d \
              --name ratingservice \
              --network microservices-net \
              -p 8083:8083 \
              -e SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/rating_db \
              ${{ secrets.DOCKER_USERNAME }}/ratingservice:latest

  # =========================
  #   REGISTRY SERVICE PIPELINE
  # =========================
  registry-service:
    needs: detect-changes
    if: needs.detect-changes.outputs.registryservice == 'true'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build & Push RegistryService Image
        run: |
          mvn -f RegistryService/RegistryService/pom.xml clean package -DskipTests
          docker build -t ${{ secrets.DOCKER_USERNAME }}/registryservice:latest ./RegistryService/RegistryService
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          docker push ${{ secrets.DOCKER_USERNAME }}/registryservice:latest

      - name: Deploy RegistryService to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}

          script: |
            docker network create microservices-net || true

            docker pull ${{ secrets.DOCKER_USERNAME }}/registryservice:latest
            docker stop registryservice || true
            docker rm registryservice || true

            docker run -d \
              --name registryservice \
              --network microservices-net \
              -p 8761:8761 \
              ${{ secrets.DOCKER_USERNAME }}/registryservice:latest

  # =========================
  #   API GATEWAY PIPELINE
  # =========================
  api-gateway:
    needs: detect-changes
    if: needs.detect-changes.outputs.apigateway == 'true'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build & Push ApiGateway Image
        run: |
          mvn -f ApiGateway/pom.xml clean package -DskipTests
          docker build -t ${{ secrets.DOCKER_USERNAME }}/apigateway:latest ./ApiGateway
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          docker push ${{ secrets.DOCKER_USERNAME }}/apigateway:latest

      - name: Deploy ApiGateway to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}

          script: |
            docker network create microservices-net || true

            docker pull ${{ secrets.DOCKER_USERNAME }}/apigateway:latest
            docker stop apigateway || true
            docker rm apigateway || true

            docker run -d \
              --name apigateway \
              --network microservices-net \
              -p 8080:8080 \
              ${{ secrets.DOCKER_USERNAME }}/apigateway:latest
